.auth-links {
    margin-top: 10px;
}

.content-wrapper {
	background: url('../images/background.png') center center repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
